.nav-bar {
    display: flex;
}
.nav-links {
flex: 1;
}

.logo {
    flex: 1;
}
.nav-links {
    flex: 1;
}
.cart {
    flex: 1;
}
.nav-links > ul {
    list-style-type: none;
    display: flex;
    font-size: large;
    font-weight: 800;
    
}